.App {
  text-align: center;
}
/* search */
.boxSearch {
  padding: 20px;
  margin: 50px 0px 0px 0px;
}
.search {
  height: 25px;
  width: 300px;
}
/* card */
.boxCard {
  padding: 80px;
}
.card {
  border: 1px solid grey;
  height: 300px;
  width: 400px;
  background-color: beige;
  float: left;
  margin: 20px 20px;
}
.image {
  height: 150px;
  width: 300px;
  padding: 3px;
}
.title {
  font-size: 15px;
  font-weight: bold;
}
.deskripsi {
  font-size: 12px;
}